:root {
  --primary-color: #8f298a;
  --secondary-color: #eeeeff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Mona Sans", serif;
}

bg-top-section {
  background-color: rgb(187, 42, 187);
}

body {
  margin-top: 75px;
  padding: 15px;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  font-size: 18px;
  margin: 15px;
  border-radius: 4px;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

#contact {
  font-size: 24px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  justify-content: center;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  line-height: 1.6;
  font-size: 28px;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.bg-custom {
  background-color: rgb(230, 228, 230);
}

.bg-link-custom {
  color: black;
}

.about-images {
  justify-content: center;
}

@media (max-width: 576px) {
  .projects {
    text-align: center;
  }
  .about-paragraphs {
    display: block;
  }
}

.about-paragraphs {
  justify-content: space-evenly;
}

#projects-heading {
  font-size: 48px;
  font-weight: 700;
}

#projects-subheading {
  font-size: 28px;
}
.projects {
  margin: 0 auto;
}
