:root {
  --primary-color: #8f298a;
  --accent-color: #7359bb;
  --accent-color-two: #5a4691;
  --background-color: #eeeeff;
  --header-footer-background: rgb(212, 204, 243);
  --default-font-family: "Mona Sans", serif;
}

body {
  font-family: var(--default-font-family);
  background: var(--background-color);
}

h1,
h2,
h3 {
  font-family: var(--default-font-family);
  font-weight: bold;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 44px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
  line-height: 1.6;
}

.hero {
  background-color: var(--header-footer-background);
  padding: 100px 20px;
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.bg-custom {
  background-color: var(--background-color);
}
.primary-links,
.project-links {
  font-size: 16px;
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  border-color: var(--primary-color);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.navigation-links a {
  font-size: 18px;
  margin: 10px;
  border-radius: 4px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

.primary-links:hover,
.project-links:hover {
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  background: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  line-height: 1.6;
  font-size: 28px;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
  font-weight: 700;
}

footer {
  background: var(--header-footer-background);
  text-align: center;
  justify-content: center;
  padding: 30px 0px;
  margin: 0 auto;
}

footer .email-link {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
footer .email-link:hover {
  transition: all 80ms ease-in-out;
  text-decoration: underline;
}
.content h3 {
  font-size: 24x;
  line-height: 1.6;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 18px;
  line-height: 24px;
}

.social-links a {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 50%;
  color: white;
  font-size: 16px;
  margin: 0 20px;
  padding: 10px 14px;
}

.social-links a:hover {
  color: white;
  background: var(--accent-color-two);
  border-color: var(--accent-color-two);
  transition: all 50ms ease-in-out;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  .projects {
    text-align: center;
  }
  .about-section {
    text-align: center;
    display: block;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 14px;
  }
}
